
/*----------------------------------------------------------------------------------menu*/
.content{
  margin: 0px auto;
  height:700px
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 1200px;
  padding-left: 25px;
    padding-right: 25px;
}
/*----------------------------------------danhmuctrong------------------------------*/
.danhmuctrong{
    height: 25px;
    text-decoration: none;
    list-style-type: none ;
}
.danhmuctrong a{
    list-style-type: none ;
    display: block;
    float: left; height: 26px;
    padding-top: 10px;width: 200px;
    text-align: center; background-color: #e9e1cf;
    font-weight: bold; margin-left: 1px;
    text-decoration: none; color: #000;
}
.danhmuctrong a:hover{
    background-color: #ed8d00;
    color: #FFF;
}
/*----------------------------------------------------------------------------Rau-Củ-Trái cây*/
/*
.shopcart{
  border-radius: 10px;
  height: 30px;
  outline: none;
  color: black;
  border-style:none ;
  margin:20px;
  background: radial-gradient(circle, #B5D33B 25%, #659F42 100%, #89B440,  #4D9142);; 
  padding-bottom:   0px;
}
.vegetable{
    background-color:#E5F2E4;
    height: 400px;
    padding: auto;
  } 
  .vegetable .all{
    color: black;
   margin-top: 50px;
   font-size: 20px;
  }
  .vegetable h1{
    padding: 20px;
  }*/
  /*.vegetable ul{
    list-style-type: none;*/ /* kiểu của các dòng trong danh sách là không có gì đầu dòng */
    /*margin: 0;*/ /* thụt lề bằng 0 */
    /*padding: 0;*/ /* vùng đệm để đẩy thành phần chứa bên trong thụt vô bằng 0 */
    /*overflow: hidden; 
    background-color: #E5F2E4;
    font-size: 15px;
    padding-left: 10px;
  }
  .vegetable ul li{
    float: left;
   padding-left: 50px;  
    margin-top: 25px;
  }*/
/*----------------------------muctrang--------------------------------*/
.muctrang{
    height: 50px;
  }
  .muctrang a{
    display: block;
    float: right; height: 26px;
    padding-top: 10px;width: 20px;
    text-align: center; background-color: #E5F2E4;
    font-weight: bold; margin-left: 2px;
    margin-right: 20px;
    text-decoration: none; color: #000;
  }
  .muctrang a:hover{
    background-color: #ed8d00;
    background: none;
  }



